*{
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
body{
  background-color: aquamarine;
min-height: 100%;

}
.container{
  width: 100vw;
  height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
}
.quote{
  background-color: rgb(252, 252, 252);
  width: 550px;
  height: auto;
  padding: 30px;
}
.quote .fa-quote-right{
 position: relative;
 font-size: 40px;
 right: 30px;
 top: 30px;
 margin:10px;
}
.quote h2{
 position: relative;
 bottom: 20px;
 font-style: italic;
 left: 20px;
}
.quote b{
  display: flex;
  justify-content: flex-end;
  font-style: italic;
}
.quote button{
 position: relative;
 left: 90%;
 top: 10px;
 padding: 4px;
 border-radius: 50%;
 background-color: black;
 color: blanchedalmond;
 width: 25px;
 border: none;
}